<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/header.css" rel="stylesheet">
  <link href="/sidebar.css" rel="stylesheet">
  <link href="/myHoliday.css" rel="stylesheet">
</head>

<style>
  
</style>
<body>
  <%- include('../../COMMON/header.ejs') %>
  <%- include('../../COMMON/sidebar.ejs') %>

  <div id="forSidebar" >
    <div id="holidayHead">휴가 확인</div>
    <div id="allCover">
      <%= JSON.stringify(empList) %>
      <div class="index"><input id="allCheck" type="checkbox">전체 선택</div>
      <div class="index">신청일</div>
      <div class="index">휴가 시작</div>
      <div class="index">휴가 종료</div>
      <div class="index">휴가 종류</div>
      <div class="index">관리자 확인 여부</div>
      <div class="index">관리자 승인 여부</div>
      <div class="index">신청 여부</div>
      <% for(let i = 0; i < hList.length; i++) { %>
        <div class="index2">
          <div class="index">
            <% if (hList[i].check === false && hList[i].cancel === false && new Date() < new Date(hList[i].startDate)) { %>
              <input class="eachCheck" type="checkbox">
              <input type="hidden" value="<%= hList[i]._id%>" class="id">
            <% } %>
          </div>
          <div class="index">
            <%= hList[i].appDate.getFullYear() %> - <%= (hList[i].appDate.getMonth()+1) < 10 ? "0" + (hList[i].appDate.getMonth()+1) : (hList[i].appDate.getMonth()+1)%> - <%= hList[i].appDate.getDate() < 10 ? "0" + hList[i].appDate.getDate() : hList[i].appDate.getDate()%>
          </div>
          <div  class="index">
            <%= hList[i].startDate.getFullYear() %> - <%= (hList[i].startDate.getMonth()+1) < 10 ? "0" + (hList[i].startDate.getMonth()+1) : (hList[i].startDate.getMonth()+1) %> - <%= hList[i].startDate.getDate() < 10 ? "0" +hList[i].startDate.getDate() : hList[i].startDate.getDate()%>
          </div>
          <div class="index">
            <%= hList[i].endDate.getFullYear() %> - <%= (hList[i].endDate.getMonth()+1) < 10 ? "0" + (hList[i].endDate.getMonth()+1) : (hList[i].endDate.getMonth()+1) %> - <%= hList[i].endDate.getDate() < 10 ? "0" +hList[i].endDate.getDate() : hList[i].endDate.getDate()%>
          </div>
          <div class="index">
            <%= hList[i].holidayType === "annual" ? "연차" : hList[i].holidayType === "sick" ? "병가" : hList[i].holidayType === "parenting" ? "육아" : hList[i].holidayType === "event" ? "경조사" : "확인 필요" %>
          </div>
          <div class="index">
            <%= hList[i].check === false ?  "확인 안함" : "확인" %>
          </div>
          <div class="index">
            <%= hList[i].approve === false ?  "비승인" : "승인" %>
          </div>
          <div class="index">
            <%= hList[i].cancel === false ?  "신청" : "취소" %>
          </div>
        </div>
      <% } %>
    </div>
    <div id="paging">
      <% for (let i = 1; i <= forPaging; i++){ %>
        <a href="/hRManage/myVacation/<%=i%>"><%= i %></a>
      <% } %>
    </div>
    <button id="cancel"> 취소 신청 </button>
  </div>

  <script>
    let forCheckCount = 0;
    let checkBoxNum = document.querySelectorAll('input[type="checkbox"]').length -1;
    const allCheck = document.querySelector('input[id="allCheck"]');
    const eachCheck = document.querySelectorAll('input[class="eachCheck"]');

    document.addEventListener('DOMContentLoaded', function() {
      eachCheck.forEach(item => {
        item.addEventListener('click',()=>{
          if(item.checked == true){
            forCheckCount++;
          }else{
            forCheckCount--;
          }

          if(forCheckCount == checkBoxNum){
            allCheck.checked = true;
          }else{
            allCheck.checked = false;
          }
        })
      })

      allCheck.addEventListener('click',() =>{
        if(allCheck.checked == true){
          forCheckCount = checkBoxNum;
          eachCheck.forEach(item => {
            item.checked = true;
          })
        }else{
          forCheckCount = 0;
          eachCheck.forEach(item => {
            item.checked = false;
          })
        }
      })

      document.querySelector('button[id="cancel"]').addEventListener('click', ()=>{
        let cancelList = [];
        eachCheck.forEach(item =>{
          if(item.checked){
            cancelList.push(item.nextElementSibling.value);
          }
        })
        
        if(cancelList.length >= 1){
          fetch('/hRManage/vCancel',{
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ cancelList: cancelList })
        }).then(response => response.json())
          .then(data => data.changeList.forEach(item =>{
            for(let i = 0; i < document.querySelectorAll('input[class="id"]').length; i++){
              if(item._id == document.querySelectorAll('input[class="id"]')[i].value){
                eachCheck[i].parentElement.parentElement.lastElementChild.innerText = "취소";
                eachCheck[i].parentElement.removeChild(eachCheck[i].parentElement.firstElementChild);
              }
            }
          }))
          .catch(error => console.error('Error:', error));
        }else{
          alert('취소할 휴가를 선택해주세요');
        }
      })
    })
  </script>
</body>
</html>