<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사원관리</title>
    <link href="/enroll.css" rel="stylesheet">
    <link href="/header.css" rel="stylesheet">
    <link href="/sidebar.css" rel="stylesheet">
</head>
<body>
    <%- include('../../COMMON/header.ejs') %>
        <%- include('../../COMMON/sidebar.ejs') %>
            <div id="forSidebar">
                <div class="topBar">
                    <h3>사원관리</h>
                </div>
                <div class="content">
                    <div class="leftContainer">
                        <h4>사원목록</h4>
                        <table class="empList">
                            <tr>
                                <td></td>
                                <td>사원번호</td>
                                <td>사원명</td>
                                <td>부서</td>
                                <td>주민번호</td>
                            </tr>
                            <% employees.forEach(employee=> { %>
                                <tr name="empInfo">
                                    <td><input type="checkbox"></td>
                                    <td>
                                        <%= employee.empNo %>
                                    </td>
                                    <td>
                                        <%= employee.name %>
                                    </td>
                                    <td>
                                        <%= employee.dept %>
                                    </td>
                                    <td>
                                        <%= employee.regNumber %>
                                    </td>
                                </tr>
                                <% }) %>
                        </table>
                    </div>

                    <!-- 사원등록 div -->
                    <div class="enrollDiv">
                            <form action="<%= typeof empInfo !== 'undefined' ? '/emp/update' : '/emp/enroll' %>" method="post" id="enrollForm">
                            <input type="hidden" name="picture" value="exam">
                            <input type="hidden" name="empNo" value="<%= typeof empInfo !== 'undefined' ? empInfo.empNo : '' %>">
                            <input type="hidden" name="address">
                            <div class="rightContainer">
                                <div class="formContainer">
                                    <div class="leftSection">
                                        <img src="https://cdn.crowdpic.net/detail-thumb/thumb_d_A16F73BD4E03AEFFE499086BBC0E3CD1.jpg"
                                            width="120" height="170">
                                        <div class="buttonContainer">
                                            <button type="button">등록</button>
                                            <button type="button">삭제</button>
                                        </div>
                                    </div>
                                    <div class="rightSection">
                                        <table>
                                            <tr>
                                                <td>입사일자</td>
                                                <td><input type="date" name="hireDate" value="<%= typeof empInfo !== 'undefined' ? date.hireDate : '' %>" required></td>
                                                <td>퇴사일자</td>
                                                <td><input type="date" name="outDate" value="<%= typeof empInfo !== 'undefined' ? date.outDate : '' %>"></td>
                                            </tr>
                                            <tr>
                                                <td>부서</td>
                                                <td colspan="3">
                                                    <select id="dept" name="dept" required>
                                                        <option value="인사부" <%= typeof empInfo !== 'undefined' && empInfo.dept == '인사부' ? 'selected' : '' %>>인사부</option>
                                                        <option value="영업부" <%= typeof empInfo !== 'undefined' && empInfo.dept == '영업부' ? 'selected' : '' %>>영업부</option>
                                                        <option value="마케팅부" <%= typeof empInfo !== 'undefined' && empInfo.dept == '마케팅부' ? 'selected' : '' %>>마케팅부</option>
                                                        <option value="개발부" <%= typeof empInfo !== 'undefined' && empInfo.dept == '개발부' ? 'selected' : '' %>>개발부</option>
                                                        <option value="고객지원부" <%= typeof empInfo !== 'undefined' && empInfo.dept == '고객지원부' ? 'selected' : '' %>>고객지원부</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>직책</td>
                                                <td colspan="3">
                                                    <select id="position" name="position" required>
                                                        <option value="사원" <%= typeof empInfo !== 'undefined' && empInfo.position == '사원' ? 'selected' : '' %>>사원</option>
                                                        <option value="대리" <%= typeof empInfo !== 'undefined' && empInfo.position == '대리' ? 'selected' : '' %>>대리</option>
                                                        <option value="과장" <%= typeof empInfo !== 'undefined' && empInfo.position == '과장' ? 'selected' : '' %>>과장</option>
                                                        <option value="팀장" <%= typeof empInfo !== 'undefined' && empInfo.position == '팀장' ? 'selected' : '' %>>팀장</option>
                                                        <option value="부장" <%= typeof empInfo !== 'undefined' && empInfo.position == '부장' ? 'selected' : '' %>>부장</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>근무형태</td>
                                                <td colspan="3">
                                                    <select id="workType" name="workType" required>
                                                        <option value="정규직" <%= typeof empInfo !== 'undefined' && empInfo.workType == '정규직' ? 'selected' : '' %>>정규직</option>
                                                        <option value="계약직" <%= typeof empInfo !== 'undefined' && empInfo.workType == '계약직' ? 'selected' : '' %>>계약직</option>
                                                        <option value="인턴직" <%= typeof empInfo !== 'undefined' && empInfo.workType == '인턴직' ? 'selected' : '' %>>인턴직</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <table class="bottomTable">
                                    <tr>
                                        <td>사원명</td>
                                        <td colspan="3"><input type="text" name="name"
                                                value="<%= typeof empInfo !== 'undefined' ? empInfo.name : '' %>"
                                                required></td>
                                    <tr>
                                        <td>주민번호</td>
                                        <td>
                                            <% if (typeof empInfo !== 'undefined') { %>
                                                <input type="tel" name="regNumber" value="<%= empInfo.regNumber %>" required>
                                            <% } else { %>
                                                <input type="tel" name="regNumber" pattern="[0-9]{6}-[0-9]{7}" required>
                                            <% } %>
                                            
                                        </td>
                                        <td>성별</td>
                                        <td>
                                            <select id="gender">
                                                <option value="male" <%= typeof empInfo !== 'undefined' && ['1', '3'].includes(empInfo.regNumber[7])
                                                    ? 'selected' : '' %>>남자</option>
                                                <option value="female" <%= typeof empInfo !== 'undefined' && ['2', '4'].includes(empInfo.regNumber[7])
                                                    ? 'selected' : '' %>>여자</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>핸드폰</td>
                                        <td colspan="3">
                                            <input type="hidden" name="phoneNumber">
                                            <input type="tel" pattern="[0-9]{3}"
                                                value="<%= typeof empInfo !== 'undefined' ? empInfo.phoneNumber.split('-')[0] : '' %>"
                                                required>
                                            <input type="tel" pattern="[0-9]{4}"
                                                value="<%= typeof empInfo !== 'undefined' ? empInfo.phoneNumber.split('-')[1] : '' %>"
                                                required>
                                            <input type="tel" pattern="[0-9]{4}"
                                                value="<%= typeof empInfo !== 'undefined' ? empInfo.phoneNumber.split('-')[2] : '' %>"
                                                required>
                                        </td>
                                    <tr>
                                    </tr>
                                    <td>전화번호</td>
                                    <td colspan="3">
                                        <input type="hidden" name="homeNumber">
                                        <input type="tel"
                                            value="<%= typeof empInfo !== 'undefined' ? empInfo.homeNumber.split('-')[0] : '' %>">
                                        <input type="tel"
                                            value="<%= typeof empInfo !== 'undefined' ? empInfo.homeNumber.split('-')[1] : '' %>">
                                        <input type="tel"
                                            value="<%= typeof empInfo !== 'undefined' ? empInfo.homeNumber.split('-')[2] : '' %>">
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>이메일</td>
                                        <td colspan="3">
                                            <input type="hidden" name="email">
                                            <input type="text"
                                                value="<%= typeof empInfo !== 'undefined' ? empInfo.email.split('@')[0] : '' %>"
                                                required> @ <input type="text"
                                                value="<%= typeof empInfo !== 'undefined' ? empInfo.email.split('@')[1] : '' %>"
                                                required>
                                            <select id="emailOptions">
                                                <option value="직접입력">직접입력</option>
                                                <option value="naver.com">naver.com</option>
                                                <option value="gmail.com">gmail.com</option>
                                                <option value="yahoo.com">yahoo.com</option>
                                                <option value="hotmail.com">hotmail.com</option>
                                                <option value="outlook.com">outlook.com</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>현주소</td>
                                        <td colspan="3">
                                            <input type="text" id="sample6_postcode" placeholder="우편번호"
                                                value="<%= typeof empInfo !== 'undefined' ? empInfo.address.split('@')[0] : '' %>"
                                                required>
                                            <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"
                                                required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="3">
                                            <input type="text" id="sample6_address" placeholder="주소"
                                                value="<%= typeof empInfo !== 'undefined' ? empInfo.address.split('@')[1] : '' %>"
                                                required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="3">
                                            <input type="text" id="sample6_detailAddress" placeholder="상세주소"
                                                value="<%= typeof empInfo !== 'undefined' ? empInfo.address.split('@')[2] : '' %>"
                                                required>
                                            <input type="text" id="sample6_extraAddress" placeholder="참고항목"
                                                value="<%= typeof empInfo !== 'undefined' ? empInfo.address.split('@')[3] : '' %>"
                                                required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan="4"><input type="submit" value="저장">
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //다음 주소 API
    const sample6_execDaumPostcode = () => {
        new daum.Postcode({
            oncomplete: function (data) {
                var addr = '';
                var extraAddr = '';

                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                if (data.userSelectedType === 'R') {
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if (extraAddr !== '') {
                        extraAddr = '(' + extraAddr + ')';
                    }
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                    extraAddr = '';
                }

                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }


    //성별 자동 선택
    document.querySelector("input[name='regNumber']").addEventListener('focusout', (e) => {
        const genderElement = e.target.parentNode.parentNode.children[3].children[0];
        const selectedIndex = ['1', '3'].includes(e.target.value[7]) ? 0 : 1;
        genderElement[selectedIndex].selected = true;
    })

    //이메일 도메인 선택
    document.querySelector("select[id='emailOptions']").addEventListener('change', (e) => {
        for (let i = 0; i < e.target.children.length; i++) {
            if (e.target.children[i].selected == true) e.target.previousElementSibling.value = e.target.children[i].value;
        }
    })

    //submit 이전 실행함수
    document.getElementById("enrollForm").addEventListener('submit', (e) => {

        //사원번호 생성
        if(e.target.action.split('emp/')[1] == 'enroll') {
            const empNo = document.querySelector("input[name='empNo']");
            const year = new Date().getFullYear();
            let deptNo = "";
            const count = "<%= employees.length + 1 %>".padStart(3, '0');
    
            const dept = document.querySelector("select[name='dept']");
            for (let i = 0; i < dept.children.length; i++) {
                if (dept.children[i].selected == true) deptNo = String(i + 1).padStart(2, '0');
            }
            console.log(year + deptNo + count)
            empNo.value = year + deptNo + count;
        }

        //핸드폰,전화번호,이메일 통합
        const phoneNumber = document.querySelector("input[name='phoneNumber']");
        const homeNumber = document.querySelector("input[name='homeNumber']");
        const email = document.querySelector("input[name='email']");
        for (let i = 1; i <= 3; i++) {
            phoneNumber.value += phoneNumber.parentElement.children[i].value;
            homeNumber.value += homeNumber.parentElement.children[i].value;
            if (i < 3) {
                email.value += email.parentElement.children[i].value;
                if (i < 2) {
                    email.value += "@";
                }
                homeNumber.value += "-";
                phoneNumber.value += "-";
            }
        }

        //주소 통합
        let address = "";
        address += document.getElementById("sample6_postcode").value + "@";
        address += document.getElementById("sample6_address").value + "@";
        address += document.getElementById("sample6_detailAddress").value + "@";
        address += document.getElementById("sample6_extraAddress").value;
        document.getElementsByName("address")[0].value = address;
    })

    //사원 상세
    document.querySelectorAll("tr[name='empInfo']").forEach(row => {
        row.addEventListener("click", (e) => {
            location.href = "/emp/enroll/" + e.target.parentElement.children[1].innerText;
        });
    });
</script>

</html>